* {
    padding: 0;
    margin: 0;
}
$main-color: #4cc2b1;
$nav-headtext-color: white;
nav {
    width: 100%;
   
    .specialoffer {
        background: $main-color;
        height: 40px;
        color: $nav-headtext-color;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-container {
        width: 1358px;
        background: white;
        display: flex;
        justify-content: space-between;
        height: 74px;
        padding: 27px 41px 0px 41px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        .Logo {
            width: 160px;
            height: auto;
        }
        .nav-bar {
            padding-bottom: 15px;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    list-style-type: none;
                    display: inline;
                    box-sizing: border-box;
                    padding: 20px 22px 29px 22px;
                    font-family: 'Roboto';
                    font-style:normal;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 25px;
                }
            }
        }
        .nav-button {
            width: 96px;
            justify-content: space-between;
            margin: 0px -2px;
            img {
                padding: 0px 2px;
            }
        }
        
    }
    .rectangle {
        background: #eaeaea;
        width: 1358px;
        height: 2px;
        margin-left: auto;
        margin-right: auto;
        // padding-top: 5px;
        margin-top: 5px;
    }
}
@media (min-width: 375px) {
    nav {
        .specialoffer {
            display: none;
        }
        .nav-container {
            max-width: 375px;
            height: 90px;
            padding: 24px 14px 29.52px 27px;
            align-items: center;
            .nav-bar {
                display: none;
                visibility: hidden;
                
            }
        }
        .rectangle {
            width: 375px;
        }
    }
}
@media (min-width: 768px) {
    nav {
        .specialoffer {
            display: block;
            max-width: 768px;
        }
        .nav-container {
            max-width: 768px;
            align-items: center;
            .nav-bar {
                display: flex;
                visibility: visible;
                ul {
                    li {
                        padding: 47px 16px 29px 16px;
                        font-size: 18px;
                    }
                }
            }
        }
        .rectangle {
            width: 686px;
        }
    }
    
    
}
@media (min-width :1440px) {
    nav {
        .specialoffer {
            max-width: 1440px;
        }
        .nav-container {
            max-width: 1440px;
        }
        .rectangle {
            width: 1358px;
        }
    }
    
}
